# Ignore build outputs
**/bin/
**/obj/
*.nupkg

# macOS
.DS_Store

# Visual Studio / Rider
.vs/
*.user
*.suo

# VS Code
.vscode/

# Solution files that should not be committed from local experimentation
test-server.sln
*.swp
test-server
/recordings
dist/
.vscode

# TypeScript SDK specific
sdks/typescript/node_modules/
sdks/typescript/dist/
sdks/typescript/bin/

# TypeScript SDK Sample specific
sdks/typescript/sample/node_modules/
sdks/typescript/sample/dist/

# Python SDK specific
sdks/python/bin/
sdks/python/src/__pycache__

# Python SDK Sample specific
sdks/python/sample/__pycache__
sdks/python/sample/.pytest_cache
